<!DOCTYPE html>
<html>

<head>
    <title>批踢踢實業坊</title>
    <link rel="icon" type="image/png" href=<%- url_for('/assets/logo_connect.c8fa42175331bab52f24fd5e64cf69bb.png') %>>
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" property="og:description" content="使用網頁版終端機連線至批踢踢實業坊 -- 以學術性質為目的，提供各專業學生實習的平台，而以電子佈告欄系統為主的一系列服務。期許在網際網路上建立起一個快速、即時、平等、免費，開放且自由的言論空間。">
    <link href="https://unpkg.com/bootstrap@3.4.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href=<%- url_for('/css/pttchrome.dfcd8a57e6603f03c793.css') %> rel="stylesheet">
    <link href=<%- url_for('/css/style.css') %> rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/bootstrap@3.4.1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/hammerjs@2.0.8/hammer.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/react@16.13.0/umd/react.production.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/react-dom@16.13.0/umd/react-dom.production.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src=<%- url_for('/js/pttchrome.dfcd8a57e6603f03c793.js') %>></script>
    <style></style>
</head>
