<div id="mainContainer"><span type="bbsrow" srow="0"><div><span class="" data-type="bbsline" data-row="0"><span><span class="q15 b4">【分類看板】                     </span><span class="q11 b4">批踢踢實業坊</span><span class="q15 b4">                                  </span><span class="q7 b0"> </span></span>
    </span>
    <div></div>
</div>
</span><span type="bbsrow" srow="1"><div><span class="" data-type="bbsline" data-row="1"><span><span class="q7 b0">                                                              ◣  ╭—</span><span class="q3 b0">●</span><span class="q7 b0">        </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="2"><div><span class="" data-type="bbsline" data-row="2"><span><span class="q3 b0">                                                    ╬—  </span><span class="q7 b0"> ◢█</span><span class="q7 b7">⊙</span><span class="q7 b0">██◣╤       </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="3"><div><span class="" data-type="bbsline" data-row="3"><span><span class="q7 b0">  </span><span class="q7 b4">   ︿︿︿︿︿︿︿︿                               </span><span class="q3 b4">║</span><span class="q7 b4"> ◣◢███▼▼▼║ </span>
<span class="q7 b0"> </span>
</span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="4"><div><span class="" data-type="bbsline" data-row="4"><span><span class="q7 b0">  </span><span class="q7 b4">                                                  </span><span class="q3 b4">  </span><span class="q7 b4"> ◤◥███▲▲▲ ║</span>
<span class="q7 b0"> </span>
</span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="5"><div><span class="" data-type="bbsline" data-row="5"><span><span class="q7 b0">                                  ︿︿︿︿︿︿︿︿    </span><span class="q3 b0">│</span><span class="q7 b0">   ◥████◤ ║      </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="6"><div><span class="" data-type="bbsline" data-row="6"><span><span class="q7 b0">                                                      </span><span class="q3 b0">╫——</span><span class="q7 b0">  ◤      —＋      </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="7"><div><span class="" data-type="bbsline" data-row="7"><span><span class="q7 b0">          ●    1   市民廣場     報告站長 PTT咬我                               </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="8"><div><span class="" data-type="bbsline" data-row="8"><span><span class="q7 b0">                2   臺灣大學     臺大, 臺大, 臺大            [paullai/s75       </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="9"><div><span class="" data-type="bbsline" data-row="9"><span><span class="q7 b0">                3   政治大學     政大, 政大, 政大            [steve1121/s       </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="10"><div><span class="" data-type="bbsline" data-row="10"><span><span class="q7 b0">                4   青蘋果樹     校園, 班板, 社團            [dreamwave/f       </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="11"><div><span class="" data-type="bbsline" data-row="11"><span><span class="q7 b0">                5   活動中心     社團, 聚會, 團體            [dreamwave/s       </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="12"><div><span class="" data-type="bbsline" data-row="12"><span><span class="q7 b0">                6   視聽劇場     偶像, 音樂, 廣電            [skydreaming       </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="13"><div><span class="" data-type="bbsline" data-row="13"><span><span class="q7 b0">                7   戰略高手     遊戲, 數位, 程設            [a3225737]         </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="14"><div><span class="" data-type="bbsline" data-row="14"><span><span class="q7 b0">                8   卡漫夢工廠   卡通, 漫畫, 動畫            [sitos]            </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="15"><div><span class="" data-type="bbsline" data-row="15"><span><span class="q7 b0">                9   生活娛樂館   生活, 娛樂, 心情            [GeminiMan]        </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="16"><div><span class="" data-type="bbsline" data-row="16"><span><span class="q7 b0">               10   國家研究院   政治, 文學, 學術            [JosephChen/       </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="17"><div><span class="" data-type="bbsline" data-row="17"><span><span class="q7 b0">               11   國家體育場   汗水, 鬥志, 膽識            [RJJ]              </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="18"><div><span class="" data-type="bbsline" data-row="18"><span><span class="q7 b0">               12 </span><span class="q9 b0">ˇ</span><span class="q7 b0">[武漢肺炎] 八大場所戴口罩                swattw/flyin       </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="19"><div><span class="" data-type="bbsline" data-row="19"><span><span class="q7 b0">               13       --&gt; 即時熱門看板 &lt;--                                    </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="20"><div><span class="" data-type="bbsline" data-row="20"><span><span class="q7 b0">                                                                                </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="21"><div><span class="" data-type="bbsline" data-row="21"><span><span class="q7 b0">                                                                                </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="22"><div><span class="" data-type="bbsline" data-row="22"><span><span class="q7 b0">                                                                                </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="23"><div><span class="" data-type="bbsline" data-row="23"><span><span class="q7 b0">                                                                                </span></span>
</span>
<div></div>
</div>
</span>
</div>