<div id="mainContainer"><span type="bbsrow" srow="0"><div><span class="" data-type="bbsline" data-row="0"><span><span class="q4 b7"> 作者 </span><span class="q7 b4"> tom11725 (奧特斯)                                      </span><span class="q4 b7"> 看板 </span><span class="q7 b4"> AzurLane </span>
    <span
        class="q7 b0"> </span>
        </span>
        </span>
        <div></div>
</div>
</span><span type="bbsrow" srow="1"><div><span class="" data-type="bbsline" data-row="1"><span><span class="q4 b7"> 標題 </span><span class="q7 b4"> Fw: [閒聊] NS版 碧藍航線Crosswave 店家特典X2開箱                       </span><span class="q7 b0">  </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="2"><div><span class="" data-type="bbsline" data-row="2"><span><span class="q4 b7"> 時間 </span><span class="q7 b4"> Wed Sep 30 03:39:57 2020                                               </span><span class="q7 b0">  </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="3"><div><span class="" data-type="bbsline" data-row="3"><span><span class="q6 b0">───────────────────────────────────────</span><span class="q7 b0">  </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="4"><div><span class="" data-type="bbsline" data-row="4"><span><span class="q7 b0">                                                                                </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="5"><div><span class="" data-type="bbsline" data-row="5"><span><span class="q2 b0">※ [本文轉錄自 NSwitch 看板 #1VSurmuk ]</span><span class="q7 b0">                                         </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="6"><div><span class="" data-type="bbsline" data-row="6"><span><span class="q7 b0">                                                                                </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="7"><div><span class="" data-type="bbsline" data-row="7"><span><span class="q7 b0">作者: tom11725 (奧特斯) 看板: NSwitch                                           </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="8"><div><span class="" data-type="bbsline" data-row="8"><span><span class="q7 b0">標題: [閒聊] NS版 碧藍航線Crosswave 店家特典X2開箱                              </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="9"><div><span class="" data-type="bbsline" data-row="9"><span><span class="q7 b0">時間: Wed Sep 30 03:39:21 2020                                                  </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="10"><div><span class="" data-type="bbsline" data-row="10"><span><span class="q7 b0">                                                                                </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="11"><div><span class="" data-type="bbsline" data-row="11"><a class="y" href="https://images.plurk.com/6dubpCPH91kITOVWlc2FRE.jpg" rel="noreferrer" target="_blank"><span class="q7 b0">https://images.plurk.com/6dubpCPH91kITOVWlc2FRE.jpg</span></a><span><span class="q7 b0">                             </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="12"><div><span class="" data-type="bbsline" data-row="12"><span><span class="q7 b0">                                                                                </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="13"><div><span class="" data-type="bbsline" data-row="13"><span><span class="q7 b0">日版17號發售，直到29號才拿到                                                    </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="14"><div><span class="" data-type="bbsline" data-row="14"><span><span class="q7 b0">這陣影響國際航運的疫情到底要到什麼時候啊...                                     </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="15"><div><span class="" data-type="bbsline" data-row="15"><span><span class="q7 b0">總之終於可以來開個箱                                                            </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="16"><div><span class="" data-type="bbsline" data-row="16"><span><span class="q7 b0">這次購入是日本店家ANIMATE和Trader兩家的店特                                     </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="17"><div><span class="" data-type="bbsline" data-row="17"><span><span class="q7 b0">                                                                                </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="18"><div><span class="" data-type="bbsline" data-row="18"><a class="y" href="https://images.plurk.com/1zljyuetRtubwhYtErlAGf.jpg" rel="noreferrer" target="_blank"><span class="q7 b0">https://images.plurk.com/1zljyuetRtubwhYtErlAGf.jpg</span></a><span><span class="q7 b0">                             </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="19"><div><span class="" data-type="bbsline" data-row="19"><a class="y" href="https://images.plurk.com/4aBPD34WjMNk59OGqq6SCn.jpg" rel="noreferrer" target="_blank"><span class="q7 b0">https://images.plurk.com/4aBPD34WjMNk59OGqq6SCn.jpg</span></a><span><span class="q7 b0">                             </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="20"><div><span class="" data-type="bbsline" data-row="20"><span><span class="q7 b0">                                                                                </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="21"><div><span class="" data-type="bbsline" data-row="21"><span><span class="q7 b0">NS版遊戲本體與                                                                  </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="22"><div><span class="" data-type="bbsline" data-row="22"><span><span class="q7 b0">追加角色超次元戰記系列女主角「妮普媞努 泳裝版」下載卡                           </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="23"><div><span class="" data-type="bbsline" data-row="23"><span><span class="q3 b5">  瀏覽 第 1/5 頁 ( 19%) </span><span class="q8 b7"> 目前顯示: 第 01~22 行</span><span class="q7 b7">  </span><span class="q1 b7">(y)</span><span class="q0 b7">回應</span><span
    class="q1 b7">(X%)</span><span class="q0 b7">推文</span><span class="q1 b7">(h)</span><span class="q0 b7">說明</span><span class="q1 b7">(←)</span><span class="q0 b7">離開 </span><span class="q7 b0"> </span></span>
    </span>
    <div></div>
    </div>
    </span>
    </div>