<div id="mainContainer"><span type="bbsrow" srow="0"><div><span class="" data-type="bbsline" data-row="0"><span><span class="q15 b4">【看板列表】                     </span><span class="q11 b4">批踢踢實業坊</span><span class="q15 b4">                                  </span><span class="q7 b0"> </span></span>
    </span>
    <div></div>
</div>
</span><span type="bbsrow" srow="1"><div><span class="" data-type="bbsline" data-row="1"><span><span class="q7 b0">[←][q]回上層 [→][r]閱讀 [↑↓]選擇 [PgUp][PgDn]翻頁 [c]新文章 [/]搜尋 [h]求助 </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="2"><div><span class="" data-type="bbsline" data-row="2"><span><span class="q0 b7">   編號   看  板       類別   中   文   敘   述               人氣 板   主     </span><span class="q7 b0"> </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="3"><div><span class="" data-type="bbsline" data-row="3"><span><span class="q7 b0">●    1 </span><span class="q9 b0">ˇ</span><span class="q7 b0">Inference    益智 ◎推理遊戲的新世界                     ChenHsiu     </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="4"><div><span class="" data-type="bbsline" data-row="4"><span><span class="q7 b0">      2 </span><span class="q9 b0">ˇ</span><span class="q7 b0">puzzle       益智 ◎[益智] 數獨 推理 拼圖 西洋棋       2 puzzlez/chyr </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="5"><div><span class="" data-type="bbsline" data-row="5"><span><span class="q7 b0">      3 </span><span class="q9 b0">ˇ</span><span class="q7 b0">riddle       益智 ◎猜謎射虎:不是元宵節也可以猜燈謎      ivysky       </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="6"><div><span class="" data-type="bbsline" data-row="6"><span><span class="q7 b0">      4 </span><span class="q9 b0">ˇ</span><span class="q7 b0">Rubiks       益智 ◎[方塊] 我認識！！！(￣▽￣)          aegius1r/Ric </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="7"><div><span class="" data-type="bbsline" data-row="7"><span><span class="q7 b0">      5 </span><span class="q9 b0">ˇ</span><span class="q7 b0">Sub_GPlaying </span><span class="q11 b0">組務 </span><span class="q7 b0">◎益智遊戲小組(G_Playing)組務板        ufotime      </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="8"><div><span class="" data-type="bbsline" data-row="8"><span><span class="q7 b0">      6 </span><span class="q9 b0">ˇ</span><span class="q7 b0">othello      棋藝 ◎2020台灣黑白棋大賽 圓滿落幕        1 ayaxaya      </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="9"><div><span class="" data-type="bbsline" data-row="9"><span><span class="q7 b0">      7 </span><span class="q9 b0">ˇ</span><span class="q7 b0">PttCChess    棋譜 ◎Ptt 象棋棋譜中心                                  </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="10"><div><span class="" data-type="bbsline" data-row="10"><span><span class="q7 b0">      8 </span><span class="q9 b0">ˇ</span><span class="q7 b0">PttFive      棋譜 ◎Ptt 五子棋棋譜中心                                </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="11"><div><span class="" data-type="bbsline" data-row="11"><span><span class="q7 b0">      9 </span><span class="q9 b0">ˇ</span><span class="q7 b0">PttGO        棋譜 ◎Ptt 圍棋棋譜中心                                  </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="12"><div><span class="" data-type="bbsline" data-row="12"><span><span class="q7 b0">     10 </span><span class="q9 b0">ˇ</span><span class="q7 b0">chess        </span><span class="q10 b0">棋類 </span><span class="q7 b0">◎棋類板－久保誤算永瀬王座聽牌         NewYAWARA    </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="13"><div><span class="" data-type="bbsline" data-row="13"><span><span class="q7 b0">     11 </span><span class="q9 b0">ˇ</span><span class="q7 b0">ChineseChess </span><span class="q10 b0">棋類 </span><span class="q7 b0">◎象棋研究版-楚漢象棋大賽開始!         fox308       </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="14"><div><span class="" data-type="bbsline" data-row="14"><span><span class="q7 b0">     12 </span><span class="q9 b0">ˇ</span><span class="q7 b0">five_chess   </span><span class="q10 b0">棋類 </span><span class="q7 b0">◎五子棋-名人三連霸！                  antfred      </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="15"><div><span class="" data-type="bbsline" data-row="15"><span><span class="q7 b0">     13 </span><span class="q9 b0">ˇ</span><span class="q7 b0">GO           </span><span class="q10 b0">棋類 </span><span class="q7 b0">◎圍棋                               2 staristic    </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="16"><div><span class="" data-type="bbsline" data-row="16"><span><span class="q7 b0">     14   AstralMaster 牌藝 ◎[AM] ˊ_&gt;ˋ你要喝紅茶嗎?             Popopon      </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="17"><div><span class="" data-type="bbsline" data-row="17"><span><span class="q7 b0">     15 </span><span class="q9 b0">ˇ</span><span class="q7 b0">bridge       牌藝 ◎用關鍵黑木  反關門黑箱                            </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="18"><div><span class="" data-type="bbsline" data-row="18"><span><span class="q7 b0">     16 </span><span class="q9 b0">ˇ</span><span class="q7 b0">Magic        牌藝 ◎魔法風雲會                        </span><span class="q11 b0">12 </span>
<span class="q7 b0">macauboy </span>
</span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="19"><div><span class="" data-type="bbsline" data-row="19"><span><span class="q7 b0">     17 </span><span class="q9 b0">ˇ</span><span class="q7 b0">MJ           牌藝 ◎ 本版已禁止發表徵人徵場文章        5              </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="20"><div><span class="" data-type="bbsline" data-row="20"><span><span class="q7 b0">     18 </span><span class="q9 b0">ˇ</span><span class="q7 b0">MJ_JP        牌藝 ◎[日麻] 日本麻將板                  2 FosterIX/Sma </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="21"><div><span class="" data-type="bbsline" data-row="21"><span><span class="q7 b0">     19   Poker        牌藝 ◎請勿拍打水族箱                     3 Sane/monkey6 </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="22"><div><span class="" data-type="bbsline" data-row="22"><span><span class="q7 b0">     20 </span><span class="q9 b0">ˇ</span><span class="q7 b0">sanguosha    牌藝 ◎這裡是三國殺板                       ufotime      </span></span>
</span>
<div></div>
</div>
</span><span type="bbsrow" srow="23"><div><span class="" data-type="bbsline" data-row="23"><span><span class="q4 b6">  選擇看板  </span><span class="q0 b7">  </span><span class="q1 b7">(m)</span><span class="q0 b7">加入/移出最愛 </span><span class="q1 b7">(s)</span><span class="q0 b7">進入已知板名 </span><span class="q1 b7">(v/V)</span><span class="q0 b7">已讀/未讀                  </span><span class="q7 b0"> </span></span>
</span>
<div></div>
</div>
</span>
</div>